/* 
* @Author: Chenyu
* @Date:   2015-08-18 13:39:35
* @Last Modified by:   Chenyu
* @Last Modified time: 2015-08-18 13:40:02
*/
body {
background-color: #E6E6FA;
color: #191970;
}

h1 {
background-color: #191970;
color: #E6E6FA;
}

h2 {
background-color: #AEAED4;
color: #191970;
}
